@model RaceDetailsViewModel


<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="@Model.races.Image" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">@Model.races.Title</h1>
            <p>@Model.races.Description</p>
            <ul>
                <li>@Model.races.Address.City</li>
                <li>@Model.races.Address.Street</li>
                <li>@Model.races.RaceCategory</li>
            </ul>
            <a class="btn btn-primary" href="#!">Call to Action!</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        @foreach (var item in Model.raceList)
        {
            if (Model.races.Id != item.Id)
            {
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">@item.Id</h2>
                            <p class="card-text">@item.Description</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="@Url.Action("Detail", "Race", new {id= item.Id})">More Info</a></div>
                    </div>
                </div>
            }
        }
    </div>
</div>